body {
  background-color: #eee;
}

form {
  text-align: center;

  * {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }

  input {
    width: 20rem;
  }

  button {
    margin-top: 3rem;
  }
}

a {
  margin: 1rem;
}

.title, .navbar {
  text-align: center;
}

.app {
  .title {
    margin: 2rem;
  }
  h3 {
    text-align: center;
  }
}

.navbar {
  position: fixed;
  width: 100vw;
  min-height: 0;
  padding: 0;
  margin: 1rem;
}

.messages-events {
  float: left;
}

.signup-login {
  float: right;
  margin-right: 2rem;
}

.inline-block {
  display: inline-block;
}

.message-board {
  margin: 5rem 2rem;
}

.channels-users-sidebar {
  position: fixed;
  width: 20rem;

  * {
    margin-left: 2rem;
  }

  .channel-list {
    background-color: salmon;
  }

  .user-list {
    background-color: lightpink;
  }
}

.message-list-container {
  margin-left: 25rem;
}

.message-list {
  margin: auto;
  width: 65vw;
  height: 45rem;
  background-color: lightblue;
  overflow: auto;
}

.username {
  font-size: 1rem;
  color: teal;
}

.message-list-item {
  margin: 2rem;
  .own-message {
    display: flex;
    justify-content: flex-end;
    color: darkgreen;
  }
}

.message-input {
  text-align: center;
  input {
    width: 40rem;
  }
  * {
    display: inline-block;
  }
}

.selected {
  color: #eee;
}

.pointer-on-hover {
  cursor: pointer;
  cursor: hand;
}


.signup, .login {
  margin-top: 5rem;
  form {
    margin-top: 2rem;
  }
}

.timestamp {
  font-size: 1rem;
}
