body {
  background-color: #eee;
}

form {
  text-align: center;
  margin-top: 6rem;

  * {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }

  input {
    width: 20rem;
  }

  button {
    margin-top: 4rem;
  }
}

a {
  margin: 1rem;
}

.title, .navbar {
  text-align: center;
}

.app .title {
  margin: 2rem;
}

.navbar {
  min-height: 0;
  padding: 0;
  margin: 1rem;
}

.messages-events {
  float: left;
}

.signup-login {
  float: right;
}

.inline-block {
  display: inline-block;
}

.message-board {
  margin: 5rem 2rem;
}

.channels-users-sidebar {
  width: 25vw;

  * {
    margin-left: 2rem;
  }

  .channel-list {
    background-color: salmon;
  }

  .user-list {
    background-color: lightpink;
  }
}

.message-list-container {
  margin-left: 2rem;
}

.message-list {
  margin: auto;
  width: 65vw;
  background-color: lightblue;
}

.username {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
